h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
  font-weight: bold;
  color: var(--text-color);
}

.table-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  max-width: 100%;
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border-radius: 12px;
  overflow: hidden;
}

th {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  padding: 12px;
  text-align: center;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--text-color);
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 0.3s ease-in-out;
}

/* Estados de usuario */
.active {
  color: var(--success-color);
  font-weight: bold;
}

.inactive {
  color: var(--error-color);
  font-weight: bold;
}

/* Botones */
button {
  padding: 10px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin: 5px;
}

button:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

/* Botón deshabilitar / habilitar */
.toggle-btn {
  background-color: var(--error-color);
}

.toggle-btn:hover {
  background-color: #c0392b;
}

/* Botón ver favoritos */
.view-btn {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.view-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

/* Modal */
.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenido del modal */
.modal-content {
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 10px rgba(34, 160, 245, 0.2);
  color: var(--text-color);
}

/* Título del modal */
h3 {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 6px;
  color: white;
}

/* Animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.modal-list-item {
  margin: 8px 0;
  padding: 8px;
  border-radius: 6px;
  background: var(--secondary-color);
  color: var(--background-color);
  font-weight: bold;
  text-align: center;
}

/* Botón de cierre */
.close-btn {
  background-color: var(--error-color);
  color: white;
}

.close-btn:hover {
  background-color: #c0392b;
}
